---
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ChargeSection from "../components/ChargeSection.astro";
---

<Layout title="Tesla - Sueños hecho ruedas">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ChargeSection />
    </div>
  </main>
</Layout>
